@model AllAuctionItemsQueryModel

@{
    ViewData["Title"] = "All Items";
    int currentItemId = 0;
}

<form method="get">
    <div class="row">
        <div class="form-group col-md-6">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Name</option>
                    <option value="1">Lowest Level</option>
                    <option value="2">Highest Level</option>
                    <option value="3">Expiration Date</option>
                    <option value="4">Hero Type</option>
                    <option value="5">Item Type</option>
                    <option value="5">Your Items</option>
                </select>
            </div>
        </div>
        <style>
            .button {
                border: none;
                color: white;
                padding: 27px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
        </style>
        <div class="form-group button">
            <input type="submit" class="btn btn-primary" value="Sort">
        </div>
    </div>
</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalItems / AllAuctionItemsQueryModel.ItemsPerPage);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Shop"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                     !Model.Items.Any();
    }
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Shop"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>


<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">All Items</h1>
        <div style="padding: 5%;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Owner Name</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Expiration Date</th>
                        <th scope="col">Info</th>
                        <th scope="col">Bid</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items.Count() > 0)
                    {
                        @foreach (var auctionItem in Model.Items)
                        {
                            currentItemId = auctionItem.Item.Id;
                    <tr>
                        <th scope="row">@auctionItem.ItemOwner.Name</th>
                        <td>@auctionItem.Item.Name</td>
                        <td>@auctionItem.ExpirationDate</td>
                        <td>
                            <div class="button-holder">
                                <a href="/Auction/Info?itemId=@auctionItem.Id" class="btn btn-info text-uppercase">Info</a>
                            </div>
                        </td>
                        @if (User.GetId() != auctionItem.ItemOwner.UserId && auctionItem.ExpirationDate > DateTime.Now)
                        {
                            <td>
                                <div class="button-holder">
                                    <a href="/Auction/Bid?itemId=@auctionItem.Id" class="btn btn-info text-uppercase">Bid</a>
                                </div>
                            </td>
                        }
                        else if(User.GetId() == auctionItem.ItemOwner.UserId && auctionItem.ExpirationDate<DateTime.Now)
                        {
                            <td>
                                <div class="button-holder">
                                    <a href="/Auction/EndAuction?itemId=@auctionItem.Id" class="btn btn-info text-uppercase">End Auction</a>
                                </div>
                            </td>
                        }

                    </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>

