@model HeroFightViewModel

<form >
    <div>
        <img src="@Model.ImageUrl" class="rounded mx-auto d-block" width="200" height="200">
        <p class="text-center"><strong>@Model.Name</strong></p> 
        <p class="text-center"><strong>@Model.RemainingArmor/@Model.MaxArmor</strong></p> 
        <p class="text-center"><strong>@Model.RemainingMagicResistance/@Model.MaxMagicResistance</strong></p> 
        <p class="text-center"><strong>@Model.RemainingHealth/@Model.MaxHealth</strong></p> 
    </div>
</form>