@model HeroFightViewModel

<form >
    <div>
        <img src="@Model.ImageUrl" class="rounded mx-auto d-block" width="200" height="200">
        <p class="text-center"><strong>@Model.Name</strong></p> 
        <p class="text-center"><strong>Attack: @Model.Attack</strong></p> 
        <p class="text-center"><strong>Magic Attack: @Model.MagicAttack</strong></p> 
        <p class="text-center"><strong>Armor: @Model.RemainingArmor/@Model.MaxArmor</strong></p> 
        <p class="text-center"><strong>Magic Resistance: @Model.RemainingMagicResistance/@Model.MaxMagicResistance</strong></p> 
        <p class="text-center"><strong>Health: @Model.RemainingHealth/@Model.MaxHealth</strong></p> 
    </div>
</form>