@model List<HeroIndexViewModel>

@{
    ViewData["Title"] = "Home Page";
    int placement = 0;
}

<h1 class="text-center">Welcome to Battle Royale!</h1>
<p class="text-center">Prove your strength! </p>

<img class="rounded mx-auto d-block" src="https://web-cdn.funcom.com/aoc/artworks/aoc_header083-612x337.jpg" width="800" height="500">


<h2 class="text-center">Top 10 Battle Royale Heroes</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Hero Name</th>
            <th scope="col">Owner</th>
            <th scope="col">Level</th>
            <th scope="col">Power</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hero in Model)
        {
            placement++;
            <tr>
                <th scope="row">@placement</th>
                <td>@hero.Name</td>
                <td>@hero.Owner</td>
                <td>@hero.Level</td>
                <td>@hero.OverallPower</td>
            </tr>
        }
    </tbody>
</table>
