@model PlayerHeroViewModel


<div class="container">
    <h1 class="text-center">@Model.Hero.Name</h1>
    <div class="row text-center">
        <div class="col-md-6">
            <img class="" src="@Model.Hero.ImageUrl" width="250">
        </div>
        <div class="col-md-6">

            <p><strong>Attack: @Model.Hero.Attack </strong></p>
            <p><strong>Magic Attack: @Model.Hero.MagicAttack </strong></p>
            <p><strong>Health: @Model.Hero.Health </strong></p>
            <p><strong>Armor: @Model.Hero.Armor </strong></p>
            <p><strong>Magic Resistance: @Model.Hero.MagicResistance </strong></p>
            <p><strong>Speed: @Model.Hero.Speed </strong></p>
            <p><strong>Level: @Model.Hero.Level </strong></p>
            <p><strong>Experience Points: @Model.Hero.ExperiencePoints/@Model.Hero.RequiredExperiencePoints </strong></p>
            <p><strong>Overall Power: @Model.Hero.OverallPower </strong></p>

        </div>
    </div>
</div>

@if (Model.Hero.HasPet)
{
    <div class="container">
        <h1 class="text-center">PET</h1>
        <div class="row text-center">
            <div class="col-md-6">
                <img class="" src="@Model.Hero.Pet.ImageUrl" width="150" height="100">
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p><strong>Pet Name: @Model.Hero.Pet.Name </strong></p>
                    <p><strong>Stats: @Model.Hero.Pet.Stats </strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="button-holder">
        <a href="/Heroes/RemovePet?heroId=@Model.Hero.Id" class="btn btn-info text-uppercase">Remove Pet</a>
    </div>

}


@if (Model.Hero.Items.Count > 0)
{
    <section class="py-5">
        <div class="container">
            <h1 style="margin: 2%; text-align: center;">Hero Items</h1>
            <div style="padding: 5%;">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Item Name</th>
                            <th scope="col">Stats</th>
                            <th scope="col">Item Type</th>
                            <th scope="col">Item For</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Hero.Items)
                        {
                            <tr>
                                <th scope="row">@item.Name</th>
                                <td>@item.Stats</td>
                                <td>@item.ItemType</td>
                                <td>@item.HeroType</td>
                                <td>
                                    <div class="button-holder">
                                        <a href="/Heroes/Unequip?heroId=@Model.Hero.Id&&itemId=@item.Id" class="btn btn-info text-uppercase">Unequip</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}

@if (Model.Items.Any(i => i.HeroType == Model.Hero.HeroType))
{
    @if (Model.Items.Count > 0)
    {
        <section class="py-5">
            <div class="container">
                <h1 style="margin: 2%; text-align: center;">Inventory</h1>
                <div style="padding: 5%;">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Item Name</th>
                                <th scope="col">Stats</th>
                                <th scope="col">Item Type</th>
                                <th scope="col">Required Level</th>
                                <th scope="col">Item For</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                if (item.HeroType == Model.Hero.HeroType)
                                {
                                    <tr>
                                        <th scope="row">@item.Name</th>
                                        <td>@item.Stats</td>
                                        <td>@item.ItemType</td>
                                        <td>@item.RequiredLevel</td>
                                        <td>@item.HeroType</td>
                                        <td>
                                            <div class="button-holder">
                                                <a href="/Heroes/Equip?heroId=@Model.Hero.Id&&itemId=@item.Id" class="btn btn-info text-uppercase">Equip</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    }
}

<div class="button-holder">
    <a href="/Heroes/Remove?heroId=@Model.Hero.Id" class="btn btn-info text-uppercase">Remove Hero</a>
</div>


