
@model List<AddShopItemFormModel>

<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">All Items</h1>
        <div style="padding: 5%;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Item Name</th>
                        <th scope="col">Stats</th>
                        <th scope="col">Price</th>
                        <th scope="col">Item Type</th>
                        <th scope="col">Passive Effect</th>
                        <th scope="col">Item For</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Name</th>
                            <td>@item.Stats</td>
                            <td>@item.Price</td>
                            <td>@item.ItemType</td>
                            <td>@item.PassiveEffect</td>
                            <td>@item.HeroType</td>
                            <td>
                                <div class="button-holder">
                                    <a href="/Items/Details?itemId=@item.Id" class="btn btn-info text-uppercase">Info</a>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>